# mkdocs.yml
site_name: Proyecto Ecuación del Calor
remote_branch: main

theme:
  name: "material"


plugins:
  - mkdocstrings



markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Indice: index.md
  - Guía de Uso: reference.md

